{% extends 'base.html.twig' %}

{% block title %}Pokemon Archive{% endblock %}

{% block body %}

    <section id="hero" class="section-p1">
        <h1>POKEMON ARCHIVE</h1>
        <div class="buttons">
            <a href="{{ path('pokemon_home') }}"><button>POKEMON</button></a>
            <a href="{{ path('trainer_home') }}"><button>TRAINER</button></a>
            <a href="{{ path('element_home') }}"><button>ELEMENTS</button></a>
        </diV>
    </section>

{% endblock %}
